@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,500,700&display=swap');

:root {

	/* colors */
	--color-white: #ffffff;
	--color-black: #000000;

	--color-dark: #161b22;
	--color-darker: #0d1117;

	--color-light: #acacac;
	--color-lighter: #cfcfcf;

	--color-accent-blue: #1f6feb;

	/* default (dark) theme */
	--color-text-primary: var(--color-light);
	--color-body-background: var(--color-dark);
	
}


body.light {

	--color-text-primary: var(--color-dark);
	--color-body-background: var(--color-light);

}


*,
*:after,
*:before {
	box-sizing: border-box;
}


html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	scroll-behavior: smooth;
}

body {
	font-family: 'Titillium Web', 'Segoe UI';
	font-size: 1.25rem;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	color: var(--color-text-primary);
	background-color: var(--color-body-background);
    display: flex;
    flex-direction: row;
    min-height: 100vh;
	transition: background-color 0.3s ease, color 0.5s ease 0.2s;
}

aside {
	width: 280px;
	height: 100vh;
	padding: 10px;
}

main {
	flex: 1;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

button {
	cursor: pointer;
}
